body {
   display: flex;
   justify-content: center;
   font-family: 'Nanum Gothic', sans-serif;
   font-weight: bold;
  
  

.pagination {
  display: flex;
  justify-content: center;
  background-color:#E5E5E5 ;
  width: 70%;
  height: 80px;
  padding-top: 15px;
 

   .list {
      display: inline-flex;
      flex-direction: row;
      list-style-type: none;
      text-decoration: none;
      width: 90%;
     
      
      li {
        width: 100px;
        margin: 0 4px;
        height: 30px;
        border-radius: 5px;
        padding-top: 10px;
        
      
   
         a {
           
            text-decoration: none;
            font-size: 20px;  
            padding-left: 20px;
            color: #fff;
             
          }   
      }
    }
   }
}
  
   .normal {
      background-color:#3C444E ;
   
       }
 .gris {
      color: black;
      background-color:#E5E5E5  ;
   }

 .point {
    text-decoration: none;
    color: black;
 }
   .bleu {
      background-color: #3AA1E7;
      
   }
